@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
.photo-main{
    background-color: black;
}
.title{
    font: 70px "Dancing Script", arial;
    text-shadow: 0 0 10px rgb(0,0,0);
    color: white;
    padding: 10px 50px;
    background-image: linear-gradient(to right,rgb(146, 0, 122), rgb(58, 0, 53), rgb(0, 0, 0));
    animation: titlecolor 5s linear infinite;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 20px;
    background-color: black;
}
.img-wrapper{
    animation: fade-inimg 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
    width: 200px;
    transition: all 0.5s ease-out;
    margin: 10px;
    border-radius: 10px;
    z-index: 0;
}
.img-wrapper:hover{
    transform: scale(1.4);
    z-index: 1;
}
.img-img{
    width: 100%;
    border-radius: 20px;
    transition: all 0.3s ease-out;
}
.mainimg-wrapper{
    animation: fade-inimg 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
    width: 300px;
    height: 300px;
    transition: all 0.3s ease-out;
    z-index: 0;
}
.main-img{    
    height: 100%;
    width: 100%;
    border-radius: 50%;
    transition: all 0.3s ease-out;
}
.mainimg-wrapper:hover{
    transform: scale(1.6);
    z-index: 1;
}

.private-container{
    padding: 20px 20px 100px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.private-item{
    width: 300px;
    height: 400px;
    perspective: 450px;
    margin: 20px 30px;
    animation: privimganime 3s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 50%;
}
.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 1.3s ease-out;
    transform-style: preserve-3d;
}
.private-item:hover > .card{
    transform: rotateX(180deg);
}
.front, .back{
    height: 100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 30px 2px rgb(167, 0, 125);
    border-radius: 40px;
    position: absolute;
    backface-visibility: hidden;
}
.front{
    background-image: url("../images/hearts.jpg");

}
.front p{
    font: 40px "Leckerli One", Arial;
    color:white;
    text-align: center;
}
.back{
    transform: rotateX(180deg);
}
.back img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
.adio{
    font: 60px "Leckerli One";
    text-decoration: underline;
    color: rgb(255, 0, 149);
    padding: 0 0 50px 0;
    text-align: center;
}
@keyframes titlecolor {
    0%{
        color: rgb(80, 0, 17);        
    }    
    50%{
        color: white;
    }
    100%{
        color: rgb(80,0,17);
    }
}